.btn-responsive{
  white-space: normal;
  width: 100%;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-bottom {
  display: flex;
  align-items: flex-end;
} 

.xsmall-text {
  font-size: x-small;
}

.mono-text {
  font-family: Fira Mono, Consolas, Lucida Console, monospace;
}

.display-block {
  display: inline-block;
  text-align: left;
  line-height: 140%;
}

.release-date {
  font-size: small;
  text-align: right;
}
